<footer class="footer bg-dark text-white text-center py-3">
    <div class="container">
      <span>© <%= new Date(Date.now()).getFullYear() %> <a style="text-decoration: none; color: white; " href="https://omkarguha.github.io/portfolio-1/" target="_blank"><u>omkarguha</u></a> | All Rights Reserved</span>
    </div>
</footer>