<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOMEPAGE</title>
    <%- include('./partials/head') %>
    <style>
        body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    .footer {
      margin-top: auto;
    }
    </style>
</head>

<body>
    <%- include('./partials/nav') %>


    <%- include('./partials/foot') %>
    <%- include('./partials/scripts') %>
</body>

</html>